body{

  background-color: #71DFE7;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
h1{
  color: #FFBC97;

    color: #F3950D;
    font-size: 562.5%;
    line-height: 2;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;

}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
}
